<ion-header>
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/emma.JPG" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Pocket Pets!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This app is designed to let pet enthusiasts photograph their pets.
        These pictures are then save to a gallery where you can later look at
        the picture and make specific notes about the image.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
      <ion-icon slot="start" color="medium" name="umbrella"></ion-icon>
      <ion-label>Need some inspiration?</ion-label>
    </ion-item>
    <ion-item href="mailto:jfeistner1@live.maryville.edu">
      <ion-icon slot="start" color="medium" name="paper-plane"></ion-icon>
      <ion-label>Need Help?</ion-label>
    </ion-item>
  </ion-list>

  <!--Floating Camera Icon-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
