<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3 class="no-item" text-center *ngIf="photoService.photos.length === 0">
        No pictures have been taken yet!
    </h3>
  
  <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; let i = index">
          <img [src]="photo.data" icon-start (click)="deletePhoto(photo)"/>
        </ion-col>
      </ion-row>
  </ion-grid>
  
  <ion-list lines="none" *ngIf="photoService.photos.length !== 0">
    <ion-item>
      <ion-icon slot="start" color="medium" name="trash" color="tertiary"></ion-icon>
      <ion-label>To delete an image, just tap it!</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
