<ion-header>
    <ion-toolbar>
      <ion-title>
        Secret Tab
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/sneaky.JPG" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to the Secret Tab</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>If you have found this tab, you sir/madam, are a gentleman/woman and a scholar. Hats off to you!</p>
      </ion-card-content>
    </ion-card>
  </ion-content>